*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
:root{
    --white: white;
}
.container {
    width:100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url("/Finalproject/images/background.jpg");
    background-position:center;
    background-size:cover;
    padding-left:8%; 
    padding-right:8%;
    box-sizing: border-box;   
}
.navbar{
    height:12%;
    display:flex;
    align-items:center;
}
.logo{
    width:20px;
    cursor:pointer;
    padding:10px;
    position:relative;
    top:0px;
    background-color:#ecd7d7 ;
}
.logo:hover{
    transform:translateY(-5px);
    transition: transform 2s;
}
.menu-icon{
    width:30px;
    cursor:pointer;
    margin-left:40px;
}
nav{
    margin-left:90px;
    /* flex:1; */
    text-align:right;
}
nav a:hover {
    background-color:#020257;
    color:var(--white);
    transition:1s;
    
}
nav a{
   list-style:none;
   display:inline-block;
   margin-left:60px;
   text-decoration: none;
   color:rgb(36, 36, 210);
}
.dropdown{
    display:block;
    color:var(--white);
    padding:10px;
    
    
 }
 
 .dropdovwn a:active{
    background-color:green;
    color:var(--white);
 }
 #dropdownlinks {
    display:none;
    
 }
#dropdownlinks a{
 color:var(--white);
 text-decoration: none;

}
#dropdownlinks a:hover{
    background-color:rgb(64, 62, 186);
}

h1{
    text-align:center;
    color:var(--white);
    text-shadow:rgb(255, 13, 13) 10px -20px 2px;
}
body{
    text-align:center;
}
.deal{
    color:var(--white);
}
h3{
    color:var(--white);
    padding:20px;
}
#all{
    padding:10px;
}
#p1{
    padding:10px;
}
#p2{
    padding:10px;
}
#p3{
    padding:10px;
}
#p4{
    padding:10px;
}
#p5{
    padding:10px;
}
#p6{
    padding:10px;
}
#p7{
    padding:10px;
}
#p8{
    padding:10px;
}
.slider{
    margin-left:500px;
    width:300px;
    height:200px;
    background: url(/Finalproject/images/netflix.jpg);
    animation:slide 8s infinite;
     
}
@keyframes slide{

    25%{
        background: url(/Finalproject/images/netflix.jpg);
     }
     50%{
        background: url(/Finalproject/images/dc.jpg);
     }
     75%{
        background: url(/Finalproject/images/20.jpg);
     }
     100%{
        background: url(/Finalproject/images/lion.jpg);
     }
}
 #p8{
    color: var(--white);
 }
footer{
    background-color:rgba(43, 43, 90, 0.785);
}
footer a{
    text-decoration: none;
   
}
footer a:hover{
    background-color:rgb(70, 70, 138);
    transition:1s;
}
.footera{
    display:flex;
   
}
.footera1{
 margin-left:100px;
 padding:10px;
}

.footera2{
 margin-left:170px;
 padding:10px;
}
.footera3{
 margin-left:230px;
 padding:10px;

}
.footera4{
 margin-left:250px;
 padding:10px

}
.footera4 svg{
    width:15px;
}
@media (min-width:481px) and (max-width: 768px){
    nav a{
        color:var(--white);
    }
}
@media (min-width:481px) and (max-width: 768px){
    nav a{
        color:var(--white);
    }
}
@media (min-width:769px) and (max-width: 1280px){
    
}